:root {
    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-darker-cyan: hsl(158, 61%, 20%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-dark-blue: hsl(212, 21%, 14%);
    --clr-grayish-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);
    --font1:'Montserrat', sans-serif;
    --font2: 'Fraunces', serif;
    --weight-norm: 500;
    --weight-bold: 700;
}

